html {
  font-size: 14px;
}

.hidden {
  visibility: hidden;
  opacity: 0!important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-btn {
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
}

.d-btn.hidden {
  visibility: hidden;
}

.d-application.v-application .d-btn.d-btn-cancel {
  border-color: #606060 !important;
}


.d-application.v-application .d-btn.d-btn-checkbox:not(.active) {
  border-color: #606060 !important;
}

.d-card {
  padding: 12px;
  position: relative;
  border: 2px solid #8eb0b950 !important;
  border-radius: 4px !important;
}

.d-checkbox .v-input__slot {
  margin: 0;
}

.d-chip-group .d-chip {
  margin-right: 12px;
}

.d-autocomplete.nopadding .v-input__slot {
  padding: 0 !important;
}

.d-select.nopadding .v-input__slot {
  padding: 0 !important;
}

.clickable {
  cursor: pointer;
}

.v-list--dense .d-list-item {
  min-height: 40px;
}

.d-outlined-img {
  position: relative;
}

.d-search-input {
  max-width: 252px;
  text-align: center;
}

.d-tile {
  margin-top: 40px;
}

.d-tile-checkbox {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

.d-tile-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 5px;
  width: 100%;
}

.d-tile-image {
  position: absolute;
  top: -40px;
  left: 10px;
}

.d-tile-status {
  position: absolute;
  top: 40px;
  right: 16px;
  width: 80px;
  height: 80xp;
}

.d-toggle {
  border-radius: 4px;
  user-select: none;
}

.d-cursor-drag:hover {
  cursor: move;
}

.d-form-validate {
  position: fixed;
  bottom: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
}

.d-border-inset {
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}

.d-btn-toggle .d-btn.d-btn-active:before {
  background-color: transparent;
}

.d-data-table-header .d-toggle-select-all {
  top: 6px;
}

.d-btn-toggle .d-btn:not(.d-btn-active) {
  color: var(--v-grey-2-base);
}

.v-messages {
  min-height: 0px !important;
}

.d-expansion-panel.v-expansion-panel::before {
  box-shadow: none !important;
}

.d-expansion-panel.v-expansion-panel::after {
  border: none !important;
}

.d-expansion-panel .v-expansion-panel-content__wrap {
  padding: 0px !important;
}

.d-expansion-panel.v-expansion-panel>.v-expansion-panel-header {
  min-height: unset;
}

.d-expansion-panel-header {
  order: 1;
}

.v-card__title {
  word-break: normal !important;
}

.sb-main-padded .sb-show-main {
  padding: 0 !important;
}

.d-data-table-header {
  height: 28px;
  line-height: 48px;
  text-align: left;
  position: sticky;
  transition: all 0.28s;
  user-select: none;
  color: var(--v-grey-2-base);
  border-bottom: 1px solid var(--v-grey-1-base);
  white-space: nowrap;
}

.d-data-table-header:hover {
  color: var(--v-grey-3-base);
  border-color: var(--v-grey-3-base);
}

.d-data-table-header:after {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 0;
  height: 50%;
  border-right: 1px solid var(--v-grey-1-base);
}

.d-data-table-header:last-of-type:after {
  border-right: none;
}

.d-text-field input::placeholder {
  font-size: 14px;
  line-height: 20px;
}

.d-text-field {
  font-size: 1rem;
}

.d-autocomplete {
  font-size: 1rem;
}

.d-select {
  font-size: 1rem;
}

.d-textarea {
  font-size: 1rem;
}


.d-text-field .v-label:not(.v-label--active) {
  top: 0px;
  margin-top: 4px;
  line-height: 20px;
  padding-left: 0px;
  font-size: 14px;
}

.d-text-field .v-label--active {
  top: 10px;
  line-height: 20px;
  /* font-size: 15px; */
  left: 0px;
}

.d-text-field .v-text-field__details {
  margin-top: 0px !important;
}

.d-text-field .v-text-field__slot {
  padding-left: 0px !important;
}

.d-text-field .v-input__slot {
  min-height: 28px !important;
}

.d-text-field.nopadding .v-input__slot {
  padding: 0 !important;
}

.d-text-field .v-input__prepend-inner {
  padding: 0 !important;
  margin: 0 !important;
}

.d-text-field .v-input__append-inner {
  padding: 0 !important;
  margin: 0 !important;
}

.d-textarea.nopadding .v-input__slot {
  padding: 0 !important;
}

.d-search-input .v-input__slot {
  padding: 0 !important;
  margin: 0 !important;
}

.d-search-input .v-label--active {
  padding-left: 19px !important;
}

.theme--light .d-text-field .v-input__slot {
  background-color: transparent !important;
}

.theme--light .d-select .v-input__slot {
  background-color: transparent !important;
}

.theme--light .d-autocomplete .v-input__slot {
  background-color: transparent !important;
}

.theme--light .d-textarea .v-input__slot {
  background-color: transparent !important;
}

.d-simple-checkbox {
  height: 24px;
}

.d-simple-checkbox .v-input--selection-controls__input {
  margin: 0;
}

.d-switch.v-input--switch {
  margin-top: 0;
  padding-top: 0;
}

.v-text-field {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.v-text-field .v-input__control {
  min-height: 28px !important;
}

.v-text-field__details {
  min-height: 0px !important;
  margin-bottom: 0px !important;
}

/* No uppercase button */

.d-btn {
  text-transform: none;
}

.d-btn-edit-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0.7;
}

.d-btn-edit-img .d-btn-file {
  width: 100%;
  height: 100%!important;

}

.d-btn-remove-img {
  position: absolute;
  left: 50%;
  bottom: min(15px, 5%);
  transform: translateX(-50%);
  transition: opacity 0.3s, visibility 0.3s;
}

/* outlined */

.d-btn-edit-outlined-img {
  position: absolute;
  right: 16%;
  top: 16%;
  transform: translate(50%, -50%);
}


.d-btn-remove-outlined-img {
  position: absolute;
  left: 16%;
  bottom: 16%;
  transform: translate(-50%, 50%);
}

/* No uppercase tab */

.d-tab {
  text-transform: none !important;
}

.v-textarea--auto-grow {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

textarea {
  margin-top: 0px !important;
}

.d-application.v-application {
  font-family: 'Open Sans', sans-serif;
}

.d-application.v-application p {
  padding: 0;
  margin: 0;
}

.d-application.v-application .text-underline{
  text-decoration: underline;
}

.d-application.v-application .d-application.v-application .text-h1 {
  font-size: 2.488rem !important;
  line-height: 2.86rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-h2 {
  font-size: 2.074rem !important;
  line-height: 2.29rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-h3 {
  font-size: 1.728rem !important;
  line-height: 2.29rem !important;
  font-weight: 400 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-h4 {
  font-size: 1.44rem !important;
  line-height: 1.71rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-h5 {
  font-size: 1.2rem !important;
  line-height: 1.71rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-h6 {
  font-size: 1rem !important;
  line-height: 1.14rem !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.d-application.v-application .text-body-1 {
  font-size: 1rem !important;
  line-height: 1.14rem !important;
  font-weight: normal !important;
  font-family: 'Open Sans', normal !important;
}

.d-grid {
  display: grid;
  justify-items: stretch;
  place-content: start;
  row-gap: 4px;
  column-gap: 10px;
  grid-template-columns: 2fr 3fr 1fr;
}

.d-grid.edit .d-grid-key.editable.required::after {
  content: "*"
}

.d-blur-img .d-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-blur-img .d-blur-hash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-blur-img-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .d-grid {
    grid-template-columns: 1fr;
  }

  .d-grid .d-grid-key:not(:first-child){
    margin-top: 12px;
  }
}

@media screen and (max-width: 1264px) and (min-width: 600px) {
  .d-grid {
    grid-template-columns: 1fr 1fr 0;
  }

}

.d-switch-grid-options, .d-switch-grid-category {
  display: grid;
  justify-items: left;
  place-content: start;
  grid-template-columns: 4fr 2fr;
}

.d-switch-grid-options {
  gap: 8px 12px;
}

.d-switch-grid-options.editable {
  gap: 16px 12px;
}

@media screen and (max-width: 960px) {
  .d-switch-grid-options, .d-switch-grid-category {
    grid-template-columns: 8fr 2fr;
  }
}

@media screen and (max-width: 600px) {
  .d-switch-grid-options, .d-switch-grid-category {
    grid-template-columns: 1fr 45px;
  }

  .d-switch-grid-options {
    direction: rtl;
  }
  
  .d-switch-grid-options > * {
    direction: ltr;
  }
}

.v-tabs-bar {
  height: 30px;
}

.d-tab {
  font-family: Montserrat;
  letter-spacing: unset;

  color: var(--v-grey-3-base) !important;
  border-bottom: solid 1px var(--v-grey-2-base);

  min-width: unset;
  max-width: unset;
}

.d-tab.d-tab--active {
  color: var(--v-black-1-base) !important;
  border-bottom: solid 2px var(--v-blue-1-base);
}

.d-tab.d-tab--error {
  color: var(--v-alert-red-base) !important;
  border-bottom: solid 1px var(--v-alert-red-base);
}

.d-tab.d-tab--error.d-tab--active {
  border-bottom: solid 2px var(--v-alert-red-base);
}

.d-editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: #444;
}